# testing
/coverage

# production
/build
.vscode
node_modules
.env
uploads

# client folder
/client/.env.production
/client/.env.development
/client/node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json