# testing
/coverage

# production
/build
.vscode
node_modules
.env
uploads

# client folder
/client/.env
/client/node_modules
/client/src/artifacts
/client/src/artifacts/build-info

# Hardhat files
/cache

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json