.display_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 4rem;
}
.input_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
input {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.315);
  outline: none;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  color: grey;
  font-style: italic;
  padding-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
input[type="text"]:focus {
  border: 2px solid lightblue;
}
.lightMode {
    border: 2px solid rgba(7, 7, 7, 0.315);
}
.image_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: minmax(18rem, auto);
  gap: 1rem;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  padding: 10px 12px;
  height: auto;
  width: auto;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.315);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
  width: 80%;
  height: 58%;
  display: block;
  margin: auto;
}

.details_container {
  margin-top: .5rem;
  overflow-wrap: break-word; /* Wrap content to prevent overflow */

}
.details_container h4 {
  margin-bottom: .7rem;
  font-size: 14px;
}

.details_container > p {
  font-style: italic;
  margin-bottom: auto;
  color: gray;
}
.tooltip {
    position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-bg-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}