.box {
  width: 100%;
  position: relative;
  padding-block: 0.9rem;
  padding-inline: 1.2rem;
}
.box h1 {
  font-size: 20px;
}
.boxes_container {
  width: inherit;
  display: grid;
  margin: 1.5rem auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}
/* boxes */
.box_item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: flex-start;
  cursor: pointer;
}
.box_item_info {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  row-gap: 0.7rem;
  max-height: 122px;
}
.box_item_info h1 {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.box_item_info p {
  font-size: small;
  color: var(--icons-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .box {
    width: 90%;
    padding-inline: 1.2rem;
  }
  .box > h1 {
    padding-inline: 1.2rem;
  }
  .boxes_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
