/* The alert message box */
.alert {
  padding: 20px;
  border-radius: 15px;
  width: 30rem;
  max-width: 50rem;
  border: 1px solid transparent;
  margin-bottom: 15px;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: display 0.3s ease, top 0.3s ease;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.success {
  color: #0f5132;
  background-color: #C6F6D5;
  border-color: #badbcc;
}

.warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.closebtn:hover {
  color: grey;
  font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
 .alert{
width:  20rem;
max-width: 22rem;
 } 
}