.heroSection {
  width: inherit;
  margin: 3rem auto;
  padding-inline: 1.2rem;
}
.heroSection_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  height: auto;
}

.heroSection_box_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.heroSection_box_right {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(24, 25, 29, 1) 0%,
    rgba(34, 35, 40, 1) 45%,
    rgba(24, 25, 29, 1) 85%
  );
}
.lightMode {
  background: linear-gradient(
    0deg,
    white 0%,
    var(--icons-bg-color) 45%,
    white 85%
  );
}
.heroSection_box_left div h1 {
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: 600;
  position: relative;
}
.btn {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}

.heroSection_box_left p {
  margin-bottom: 2rem;
}
.heroSection_box_left p a {
  text-decoration: underline dashed #1c8cb1;
}

.underlined_1:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 25rem;
  height: 7px;
  width: 150px;
  border: solid 2px #1c8cb1;
  border-color: #1c8cb1 transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(-9deg);
  clip-path: inset(0 0 50% 0);
}

.underlined_2 {
  position: relative;
  margin-right: 1rem;
}
.underlined_2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10rem;
  height: 7px;
  width: 120px; /* Adjusted width to account for rotation */
  border: solid 2px #c30d47;
  border-color: #c30d47 transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(-5deg);
  clip-path: inset(0 0 50% 0);
}
@media screen and (max-width: 1160px) {
  .underlined_1:after {
    bottom: -1px;
    left: 2rem;
  }
  .underlined_2:after {
    bottom: -10px;
  }
}

@media screen and (max-width: 768px) {
  .heroSection {
    width: 90%;
    margin: 1rem auto;
  }
  .heroSection_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 2rem;
    justify-content: center;
  }

  .underlined_1:after,
  .underlined_2:after {
    display: none;
  }

  .heroSection_box_left div h1 {
    font-size: 3rem;
    margin-bottom: 0;
    line-height: normal;
  }
    .h1Cont {
    font-size: 3rem;
    padding: 0;
    /* margin-top: -3.9rem; */
    margin-bottom: 1rem !important;
  }
}

@media screen and (min-width: 768px) {
  .heroSection_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .heroSection_box_left h1 {
    font-size: 2.5rem;
  }
  .heroSection_box_left {
    padding: 0;
  }
}
