.navBar {
  width: 100%;
  position: relative;
  padding-block: 0.9rem;
  z-index: 111111;
}

.navBarBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: inherit;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.2rem;
}
.navBarBoxLeft {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.AppNameText {
  font-size: 2rem;
  font-weight: 700;
  text-wrap: nowrap;
  white-space: nowrap;
}
.rightSideNav {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr 0.5fr 0.8fr;
  align-items: center;
  gap: 0.5rem;
}
.rightSideNav > * {
  align-items: center;
  justify-content: center;
}

.navBox ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar_container_right_menuBtn {
  display: none;
}

.menuIcon {
  font-size: 2.5rem;
  cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 768px) {

  .navBarBoxLeft {
    grid-template-columns: 1fr;
    padding-left: 1.2rem;
  }
  .rightSideNav {
    grid-template-columns: repeat(2, 1fr);
  }
  .navBox {
    display: none;
  }
  .btn {
    display: none;
  }
  .navbar_container_right_menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
